{% extends "blog/base.html" %}
<!-- This allows us to us the crispy filter in our forms (user registration form, in this case). -->
{% load crispy_forms_tags %} 
{% block shevoContent %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <!-- .as_p <- As paragraph
                //We comment it because we'll replace it with a crispy form instead :)--> 
                <!-- {{ form.as_p }} -->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock shevoContent %}
